.favorites{
    position: relative;
    margin-top: 136.8px;
    .story-grid{
        position: relative;
        margin-top: 221px;
        width: 100%;
        display: flex;
        padding-top: 33.6px;
        padding-right:9.6px;
        padding-left:9.6px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .no-user{
        margin-top: -136.8px;
        width: 100%;
        height: calc(100vh - 73.6px);
        display: flex;
        flex-direction: column;
        align-items: center;
        
        z-index: 1;
        .blur{
            background-image: url('../img/favorites-blur.jpg');
            background-size: cover;
            filter: blur(10px);
            overflow: hidden;
            z-index: -1;
            position: absolute;
            width: 100%;
            height: calc(100vh - 92px);

        }
        .heart-container{
            z-index: 5;
            .heart {
                width: 80px;
                height: 72px;
                
            }
            .heart:before,
            .heart:after {
                position: absolute;
                content: "";
                left: calc(50%);
                top: 60px;
                width: 240px;
                height: 360px;
                background: white;
                -moz-border-radius: 120px 120px 0 0;
                border-radius: 120px 120px 0 0;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                -webkit-transform-origin: 0 100%;
                -moz-transform-origin: 0 100%;
                    -ms-transform-origin: 0 100%;
                    -o-transform-origin: 0 100%;
                        transform-origin: 0 100%;
            }
            .heart:after {
                left: calc(50% - 240px);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                -webkit-transform-origin: 100% 100%;
                -moz-transform-origin: 100% 100%;
                    -ms-transform-origin: 100% 100%;
                    -o-transform-origin: 100% 100%;
                        transform-origin :100% 100%;
            }
            .heart-text{
                position: absolute;
                padding-top: 160px;
                margin-left: -80px;
                width: 240px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .fa{
                    font-size: 20.8px;
                    // line-height: 30px;
                    color: $blue;
                    margin-bottom: 24px;
                }
                p{
                    z-index: 12;
                    text-align: center;
                    line-height: px;
                }
                a{
                    margin-top: 24px;
                    color: $blue;
                }
            }
        }
        
    }
    .hide{
        height: 0px;
        width: 0px;
        color: transparent;
    }
}