.landing {
    // position: relative;
    // top:25px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 1680px;
    .vid-container{
        margin: 0px; 
        position: absolute; 
        z-index: -1; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        visibility: visible; 
        opacity: 1; 
        width: 100%; 
        height: 40vh;
        z-index: -1;
        video{
            margin: auto; 
            position: absolute; 
            z-index: -1; 
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            visibility: visible; 
            opacity: 1; 
            width: 100%; 
            height: auto;
            
        }
    }
    .description-box{
        position: absolute;
        top: 43%;
        left: 2.75%;
        width: 94.5%;
        height: 400px;
        background: white;
        z-index: 2;
        .landing-description{
            margin: 76px 208px 0px 208px; 
            text-align: left;    
            font-family: 'Playfair Display', serif;
            color: $dark;
            font-weight: bold;
            font-size: 40px;
            line-height:49.6px;
            letter-spacing: .8px;
        }
        .test-site-disclaimer{
            font-family: 'Muli';
            color: #d5d5d5;
            text-align: left;
            margin: 28px 208px 0px 208px;
            a{
                color: #d5d5d5;
            }
        }
    }
    .landing-content{
        position: relative;
        top: 536px;
        width:100%;
        // height: 3500px;
        background: $light;
        z-index: 1;
        padding-top: 220px;
        .featured-header{
            text-align: left;
            margin-left: 48px;
            color: #d1d1d1;
            font-size: 27.2px;
        }
        .story-slider{
            
            width: 100%;
            height: 320px;
            .slider-image{
                width: 92%;
                margin-top: 64px;
                margin-left: 4%;
                height: auto;
                // background-image:url('./../img/previewPics/alpli-bar.jpg');
                .villa-tobler{
                    width: 100%;
                    height:640px;
                    background-size: cover;
                    background-image: url('./../img/previewPics/villa-tobler.jpg');
                    
                }
                .alpli-bar{
                    width: 100%;
                    height:640px;
                    background-size: cover;
                    background-image: url('./../img/previewPics/alpli-bar.jpg');
                    
                }
                .backerei-vohdin{
                    width: 100%;
                    height:640px;
                    background-size: cover;
                    background-image: url('./../img/previewPics/backerei-vohdin.jpg');
                }
                .blueme-under-de-boge{
                    width: 100%;
                    height:640px;
                    background-size: cover;
                    background-image: url('./../img/previewPics/blueme-under-de-boge.jpg');
                }
                .bodega-espanola{
                    width: 100%;
                    height:640px;
                    background-size: cover;
                    background-image: url('./../img/previewPics/bodega-espanola.jpg');
                }
                
                .punto-italiano{
                    width: 100%;
                    height:640px;
                    background-size: cover;
                    background-image: url('./../img/previewPics/punto-italiano.jpg');
                }
                
                
            }
            .slide-left{
                position: absolute;
                width: 80px;
                height: 800px;
                left: 2%;
                top: 290px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .left-arrow{
                    width: 80px;
                    height: 15px;
                    background-size: cover;
                    background-image: url('../img/slider-arrow.svg');
                    z-index: 8;
                    -webkit-transform:rotate(-10deg);
                    -moz-transform:rotate(180deg);
                     -ms-transform:rotate(180deg);
                      -o-transform:rotate(180deg);
                         transform:rotate(180deg); 
                    // position: absolute;
                }
            }
            .slide-right{
                position: absolute;
                height: 800px;
                width: 80px;
                right: 2%;
                top: 290px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .right-arrow{
                    width: 80px;
                    height: 15px;
                    background-size: cover;
                    background-image: url('../img/slider-arrow.svg');
                    z-index: 8;
                    
                }
            }
            .slider-dot-container{
                width: 100%;
                height: 16px;
                padding-right: 4%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                .slider-dots{
                    width: 120px;
                    padding-left: 8px;
                    padding-right: 8px;
                    height: 24px;
                    position: relative;
                    right: 0px;
                    top:0px;
                    display: flex;
                    flex-direction: row;
                    // background-color: yellow;
                    align-items: flex-end;
                    justify-content: space-between;
                   
                    .black-dot{
                        cursor: pointer;
                        background-color: black;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        &:first-child{
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                        }
                    }
                    .blue-dot{
                        cursor: pointer;
                        background-color: $blue;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        &:first-child{
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                        }
                    }
                    
                }
            }
            .slider-text{
                width: 100%;
                padding: 4.8px 6.25% 0px 6.25%;
                .slider-text-header{
                    color: $blue;
                    font-size: 26.8px;
                    text-align: left;
                }
                .slider-text-blurb{
                    margin-top: 9.6px;
                    font-size: 19.2px;
                    text-align: left;
                    font-family:'Playfair Display';
                    font-weight: 400;
                    color: $dark;
                }
            }
        }
    }


}
