.alpli-bar{
    .story-nav{
        width: 100%;
        height: 152px;
    }
    .story-slider{
        
        width: 100%;
        height: 400px;
        .slider-image{
            width: 92.5%;
            margin-top: 80px;
            margin-left: 3.75%;
            height: auto;
            // background-image:url('./../img/previewPics/alpli-bar.jpg');
            .alplibar0{
                width: 100%;
                height:640px;
                background-size: cover;
                background-image: url('./../img/AlpliBar/alplibar-1.jpg');
            }
            .alplibar1{
                width: 100%;
                height:640px;
                background-size: cover;
                background-image: url('./../img/AlpliBar/alplibar-2.jpg');
            }
            .alplibar2{
                width: 100%;
                height:640px;
                background-size: cover;
                background-image: url('./../img/AlpliBar/alplibar-3.jpg');
            }
            .alplibar3{
                width: 100%;
                height:640px;
                background-size: cover;
                background-image: url('./../img/AlpliBar/alplibar-4.jpg');
            }
            .alplibar4{
                width: 100%;
                height:640px;
                background-size: cover;
                background-image: url('./../img/AlpliBar/alplibar-5.jpg');
            }
            .alplibar5{
                width: 100%;
                height:640px;
                background-size: cover;
                background-image: url('./../img/AlpliBar/alplibar-6.jpg');
            }
            .alplibar6{
                width: 100%;
                height:640px;
                background-size: cover;
                background-image: url('./../img/AlpliBar/alplibar-7.jpg');
            }
            .alplibar7{
                width: 100%;
                height:640px;
                background-size: cover;
                background-image: url('./../img/AlpliBar/alplibar-8.jpg');
            }
            .alplibar8{
                width: 100%;
                height:640px;
                background-size: cover;
                background-image: url('./../img/AlpliBar/alplibar-9.jpg');
            }
            
        }

        .slide-left{
            position: absolute;
            width: 60px;
            height: 640px;
            left: 1.5%;
            top: 235px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .left-arrow{
                width: 60px;
                height: 10px;
                background-size: cover;
                background-image: url('../img/slider-arrow.svg');
                z-index: 8;
                -webkit-transform:rotate(-10deg);
                -moz-transform:rotate(180deg);
                 -ms-transform:rotate(180deg);
                  -o-transform:rotate(180deg);
                     transform:rotate(180deg); 
                // position: absolute;
            }
        }
        .slide-right{
            position: absolute;
            height: 640px;
            width: 60px;
            right: 1.5%;
            top: 235px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .right-arrow{
                width: 60px;
                height: 10px;
                background-size: cover;
                background-image: url('../img/slider-arrow.svg');
                z-index: 8;
                
            }
        }
        .slider-dot-container{
            width: 100%;
            height: 15px;
            padding-right: 3.75%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .slider-dots{
                width: 190px;
                padding-left: 10px;
                padding-right: 0px;
                height: 25px;
                position: relative;
                right: 0px;
                top:0px;
                display: flex;
                flex-direction: row;
                // background-color: yellow;
                align-items: flex-end;
                justify-content: space-between;
               
                .black-dot{
                    cursor: pointer;
                    background-color: black;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    &:first-child{
                        cursor: pointer;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                    }
                }
                .blue-dot{
                    background-color: $blue;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    &:first-child{
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                    }
                }
                
            }
        }
    }
    .story-body{
        width: 100%;
        padding-top: 395px;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .page-header{
            width: 944px;
            // margin: 0px 180px 0px 180px;
            .header-title{
                font-family: 'Playfair Display';
                font-size: 40px;
            }
            .header-blurb{
                margin-top:12px;
            }
            
        }
        .credit{
            width: 944px;
            margin-top: 58px;
        }
        .intro{
            width: 944px;
            margin-top: 12px;
            font-size: 21.6px;
            line-height: 32px;
        }
        .toMap{
            width: 944px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 60px;
            margin-bottom: 40px;
            color: $blue;
            .fa{
                font-size: 40px;
                margin: 0px 10px 4px 5px
            }
        }
        .main-story{
            width: 752px;
            margin-top: 65px;
            margin-bottom: 65px;
            line-height:26.4px;
        }
        .image-center-container{
            width: 100%;
            height: 630px;
            margin: 65px 0px 65px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            .image{
                width: 950px;
                height: 630px;
            }
        }
        .image-double-container{
            width: 100%;
            height: 827px;
            display: flex;
            margin: 65px 0px 65px 0px;
            justify-content: center;
            align-items: flex-start;
            .image{
                width: 552px;
                height: 827px;
                margin: 0px 14.4px 0px 14.4px;
            }
        }
        .image-double-container-ls{
            width: 100%;
            height: 300px;
            display: flex;
            margin: 65px 0px 65px 0px;
            justify-content: center;
            align-items: flex-start;
            .image{
                width: 558px;
                height: 372px;
                margin: 0px 14.5px 0px 14.5px;
            }
        }
        .img-1{
            background-image:url('../img/AlpliBar/Body/1.jpg');
            background-size: cover;
        }
        .img-2{
            background-image:url('../img/AlpliBar/Body/2.jpg');
            background-size: cover;
        }
        .img-3{
            background-image:url('../img/AlpliBar/Body/3.jpg');
            background-size: cover;
        }
        .img-4{
            background-image:url('../img/AlpliBar/Body/4.jpg');
            background-size: cover;
        }
        .img-5{
            background-image:url('../img/AlpliBar/Body/5.jpg');
            background-size: cover;
        }
        .image-caption{
            width: 552px;
            margin-top: -55px;
            margin-bottom: 85px;
            padding: 0px 16px 0px 16px;
            p{
                font-family:'Playfair Display';
                font-weight: 300;
                font-size: 17px;
                line-height: 24px;
            }
        }
        .subheader{
            width: 752px;
            font-size: 25.6px;
            margin-top: 65px;
            margin-bottom: -56px;
        }
        .block-quote{
            width: 752px;
            margin-top: 68px;
            margin-bottom: 68px;
            .quote{
                font-family: 'Playfair Display';
                font-size: 40px;
                line-height: 50px;
            }
            .horizontal-line{
                margin: 20px 0px 28px 0px;
                width: 100%;
                height: 2px;
                background-color: black;
            }
        }
        .paragraph-spacer{
            margin-top: -70px;
        }
        .overlap{
            width: 100%;
            height: 840px;
            padding: 0px 80px 0px 80px;
            margin: 47px 0px 47px 0px;
            position: relative;
            .image-overlap{
                position: absolute;
                left: 47px;
                width: 558px;
                height: 840px;

            }
            .text-overlap{
                position: absolute;
                padding: 160px 120px 144px 120px;
                right: 47px;
                top: 210px;
                width: 687px;
                height: 420px;
                z-index: 2;
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    line-height: 27px;
                    
                }
            }
        }
    }
}