@import url('https://fonts.googleapis.com/css?family=Muli:600|Playfair+Display');
@import 'variables';

h1 {
  font: {
    family: 'Muli';
    size: 32px;
  }
}


p, a, div, button, li {
  font: {
    family: 'Muli', sans-serif;
    weight: 600;
    size: 18.4px;
  }
}

body {
  background: $light;
}